:root {
  --color-primary: rgb(45, 164, 78);
  --border: 1px solid var(--color-border);
  --color-border: rgb(208, 215, 222);
  --border-transparent: 1px solid rgba(27, 31, 36, 0.15);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: #f5f5f5;
}